name: Release mosdns

on:
  push:
    tags:
      - 'v*'
  repository_dispatch:
  workflow_dispatch:

jobs:

  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24
          check-latest: true
          cache: true

      - name: tidy
        run: go mod tidy

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Build
        run: python ./release.py -upx
        env:
          CGO_ENABLED: '0'

      - name: Dir
        run: ls -ahl release

      - name: Upload to artifact
        uses: actions/upload-artifact@v5
        with:
          path: './release/mosdns*.zip'

